@charset "utf-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, textarea { margin: 0; padding: 0; font-size: 14px; line-height: 24px; color: #000; font-family: 'microsoft yahei',verdana,Tahoma; }
ol, ul, li { list-style: none; line-height: 22px; }
ol, ul { zoom: 1; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
img { border: none; max-width: 100%; }
a, a:link, a:visited { cursor: pointer; text-decoration: none; color: black;}
a:hover { 
	cursor: pointer; 
	color: blue;
}
.table { border-collapse: collapse; border-spacing: 0; }
    .table td { border: solid 1px #666; }
.clear { clear: both; float: none; overflow: hidden; height: 0; font-size: 0; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
:after, :before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.font { font: 14px/24px "Comic Sans MS"; }
:focus { outline: none; }
.css3pie { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; behavior: url(css3pie/PIE.htc); }
/*------------------------------------------------------------------------------------------------------------------------------------------------*/


body{ font-size: 12px; 
	font-family: "黑体-简","黑体","微软雅黑", Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif; 
	width: 100%; 
	margin: 0 auto; 
	background-color: lightgreen; 
	overflow-x: hidden; 
}

/*一级导航*/
#nav-main{
	float:left;
	top: 0;
	z-index: 12;
	height: auto;
	width: 100px;
	color: #fff;
	background: green;
}
#nav-main a{
	color: #fff;
}
.nav-box{
	position: relative;
	perspective: 200px;
	-webkit-perspective: 200px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;/**/
	height: 100%;
	z-index: 99;
}
.nav-ul li a{
	display: block;
	width: 100px;
	height: 100px;
	overflow: hidden;
	text-align: center;
	position: relative;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}

.nav-ul li a:hover{background: #357dd7;}
.nav-ul li a:hover:before{left: -30px;}

.nav-ul li a span{
	display: block;
	margin-top: 60px;
	position: relative;
	z-index: 1;
}
#demos{
	float: left;
}
#demos ol{
	margin-left: 30px;
	padding-left: 30px;
}
#demos li{
	margin-bottom: 10px;
	font-size: 18px;	
	list-style: decimal-leading-zero;
}